:root{
  --background:black;
  --color: white;
  --border: rgba(156, 67, 240, 0.806);
  --box-shadow: rgba(137, 43, 226, 0.86);
  --card-background:rgba(66, 1, 127, 0.457);
}
.light{
  --background:white;
  --color: black;
  --border: blueviolet;
  --box-shadow: rgba(137, 43, 226, 0.241);
  --card-background:rgba(137, 43, 226, 0.514);
}

.body{
    background: var(--background);
    width: 100%;
    height: 100vh;
    font-family:"Pliant" ;
    color: var(--color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteyner{
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

button{
  cursor: pointer;
}

ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
}